.hamburger-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000; /* Ensure it is above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
  
.hamburger-button .h-6 {
  width: 24px;
  height: 24px;
}

.hamburger-button:hover {
  background-color: inherit;
  color: white;
}