.welcome-screen {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  .welcome-screen h1 {
    margin: 200; /* Remove default margin */
    color: initial;
  }

.button-container {
  display: flex;
  justify-content: center;
  gap: 5rem; /* Adjust the gap between buttons as needed */
  margin-bottom: 20px;
}

.button-container button,
.contact-us button {
  width: 220px; /* Set a fixed width for all buttons */
}

.button-container.centered {
  display: flex;
  justify-content: center;
}